In [24]:
import tabula as tab
import pandas as pd
import gspread
import df2gspread as d2g
import pygsheets

gc = pygsheets.authorize(service_file='yourCreds.json')
sh = gc.open('yourSheet')
wb = sh[0]

In [25]:
url = "https://www.wbhealth.gov.in/uploaded_files/corona/Vacant_bed_status_as_on_04.05_.2021_(1)_.pdf"
tables = tab.read_pdf(url, pages = "all", multiple_tables = True)

df_wb_test = pd.DataFrame()

In [26]:
name = []

for item in tables[0]['Unnamed: 1'][1:21]:
    name.append(item)
    
for item in tables[1]['Name of CoVid Hospital'][0:22]:
    name.append(item)
    
for item in tables[2]['Name of CoVid Hospital'][0:22]:
    name.append(item)
    
for item in tables[3]['Name of CoVid Hospital'][0:22]:
    name.append(item)
    
for item in tables[4]['Name of CoVid Hospital'][0:10]:
    name.append(item)
    
vacant_num = []

for item in tables[0]['Unnamed: 3'][1:21]:
    vacant_num.append(item)
    
for item in tables[1]['Vacant\rBeds'][0:22]:
    vacant_num.append(item)    

for item in tables[2]['Vacant\rBeds'][0:22]:
    vacant_num.append(item)
    
for item in tables[3]['Vacant\rBeds'][0:22]:
    vacant_num.append(item)
    
for item in tables[4]['Vacant\rBeds'][0:10]:
    vacant_num.append(item)   

district = []

for item in tables[0]['Unnamed: 0'][1:21]:
    district.append(item)
    
for item in tables[1]['District'][0:22]:
    district.append(item)
    
for item in tables[2]['District'][0:22]:
    district.append(item)
    
for item in tables[3]['District'][0:22]:
    district.append(item)
    
for item in tables[4]['District'][0:10]:
    district.append(item)

In [27]:
df_wb_test['District'] = district
df_wb_test['Name'] = name
df_wb_test['Vacant'] = vacant_num

In [28]:
df_wb_test

             District                              Name Vacant
0             Kolkata                    AMRI Salt Lake      0
1             Kolkata                             CNMCH      0
2             Kolkata                              CNCI    101
3             Kolkata           Desun Hospital, Kolkata      2
4             Kolkata                             ID BG     20
..                ...                               ...    ...
91  South 24 Parganas                      Baruipur SDH   29.0
92  South 24 Parganas  Canning Covid Hospital (Stadium)    5.0
93     Uttar Dinajpur             Islampur Urdu Academy   76.0
94     Uttar Dinajpur              Mikki Megha Hospital    9.0
95     Uttar Dinajpur                  Raiganj Govt MCH    0.0

[96 rows x 3 columns]

In [29]:
wb.set_dataframe(df_wb_test,(0,0))